body {
  font-family: monospace;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.4;
  color: var(--textcolor);
  background-color: hotpink;
 /* background: var(--bgcolor);*/
  position: relative;
  max-width: 64em;  /* remove this for a full-width layout */
  margin: 0 auto;  /* centers the layout */
}

/*styling Titel Heidi */
.heidi{
  font-size: 70px;
  outline-color: #e8ff66;
  outline-style: dotted;
  outline-width: 6px;
  outline-offset: -4px;
  width: fit-content;
  
  background-color: #e8ff66
  
}
/* ------- Gallery Darstellung ------- */
#people{
  width: auto;
  margin: auto;
    flex: 1;
    display: flex;
    overflow: auto;
  align-items:baseline;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}


#people .p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;
  
  min-width: 350px; 
  min-height: auto;

  padding: auto;
  margin: 10px;
  text-overflow: ellipsis;
  z-index: 3;
  overflow: hidden; 
  
  
  background-color: #e8ff66;
outline-color: #e8ff66;
  outline-style: dotted;
  outline-width: 6px;
  outline-offset: -4px;
}

.bilderrahmen {
  position:absolute;
  width: 250px;
  height: 250px;
  transform: translate(0, 30%);
   z-index: -3; /* Make sure it’s on top */
}


.img {
  position: relative;
  margin: 20px;
    z-index: 3; /* Make sure it’s on top */
  padding-bottom: 5%;
}

.img img {

  width: 200px;
  height: 200px;
  object-fit: cover;
  z-index: 5; /* Make sure it’s on top */
}

.imgEffects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block; /* Ensure it displays as a block-level element */
  z-index: 10; /* Make sure it’s on top */
}



.Kunstwerk {
   font-size: 25px;
}

.name {
  background-color: #d2d8ff;
}






/* ------- Formular CSS ------- */

input {

  padding:4px;  /* Adds space inside the input fields */
  display: block; /* Ensures each input is on a new line */
  width: 100%;   /* Full width for better readability */
  box-sizing: border-box; /* Includes padding in the element's total width */
    margin: 0 auto;  /* centers the layout */
}


input[type=color]{
  height: 5px;
  width: 250px;

  margin: 0 auto; /* Horizontally center */

}

form {
  max-width: 500px; /* Sets a maximum width for the form */
  margin: 0 auto;   /* Centers the form on the page */
}

.checkbox-container {
  display: flex;
  margin: 10px 0; /* Add some space between the checkboxes */
  align-items: le; /* Center align the items vertically */
}




/* ------- Header ------- */
a {
  text-decoration: none;
  color: black;
}
header {
  padding: 1vw 1vw 1vw 1vw;
  background-color: #e158ba;
}


nav { 
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: auto;
  z-index: 66;
font-size: 1em}
