@font-face{
    font-family: "Hobo Std";
  src: url(./fonts/hobostd.otf) format("opentype");
}
@font-face{
  font-family: "Dejavu Sans Mono";
  src: url(./fonts/DejaVuSansMono.ttf) format("truetype");
}

body {
  font-family: Dejavu Sans Mono; 
  text-decoration: none;
  line-height: 1.4;
  /*color: var(--textcolor);*/  
  background-color: #FF97DB;
 /* background: var(--bgcolor);*/
  position: relative;
  max-width: 100%;  /* remove this for a full-width layout */
  margin: 0 auto;  /* centers the layout */
  
  
}




/* ----titelseite---- */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

.titel-frame {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
  background-color: white;
  z-index: 9;
}

.titel {
    font-size: 119px;
    position: relative; /* Sicherstellen, dass z-index-Bedingungen greifen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    position: absolute; /* Raster als Hintergrund */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #000 0.5px, transparent 0.5px), linear-gradient(to bottom, #000 0.5px, transparent 0.5px);
    background-size: 200px 200px;
    z-index: 1; /* Raster im Hintergrund */
  transition: background-color 3s ease, background-image 3s ease;
}


h1 {
    position: relative; /* Sicherstellen, dass z-index-Bedingungen greifen */
    z-index: 3; /* Titel im Vordergrund */
    margin: 0;
}
/*---- hier fangen die ganzen formen an----*/

.container { position: relative; height: 100vh; /* Container füllt die gesamte Höhe des Viewports */
}

.form1 {
    position: absolute;
    top: 13%;
    right: 15%;
    background-color: #86ff00;
    width: 500px;
    height: 500px;
    z-index: 2; /* Form zwischen Titel und Hintergrund */
    transition: opacity 3s ease;
}

@media screen and (max-width: 1024px) 
{ .form1 { top: 10%; /* Passe nach Bedarf an */ 
  right: 15%; /* Passe nach Bedarf an */ 
  width: 400px; /* Passe nach Bedarf an */ 
  height: 400px; /* Passe nach Bedarf an */ } }

.form2 {
    position: absolute;
    top: 54%;
    right: 67%;
    background-color: #3d00ff;
    width: 400px;
    height: 400px;
    z-index: 2; /* Form zwischen Titel und Hintergrund */
    transition: opacity 3s ease;
}

.form3 {
    position: absolute;
    top: 52%;
    right: 75%;
    width: 90px;
    height: 500px;
    z-index: 2; /* Form zwischen Titel und Hintergrund */
    transition: opacity 3s ease;
   image-rendering: smooth;
  rotate: -5deg
}

.form4 {
  font-family: Hobo Std;
  font-size: 66px;
  line-height: 67px;
    position: absolute;
    top: 59%;
    right: -499%;
    width: 292px;
    height: 500px;
    z-index: 2; /* Form zwischen Titel und Hintergrund */
    transition: opacity 3s ease;
  rotate: 20deg
}

.form5 {
    font-family: Hobo Std;
  font-size: 42px;
    position: absolute;
    top: 3%;
    right: -6%;
   
    width: 500px;
    height: 500px;
    z-index: 2; /* Form zwischen Titel und Hintergrund */
    transition: opacity 3s ease;
}

.form6 {
    font-family: Hobo Std;
  font-size: 42px;
    position: absolute;
    top: 18%;
    right: 5%;
    rotate: 90deg;
    width: 500px;
    height: 500px;
    z-index: 2; /* Form zwischen Titel und Hintergrund */
    transition: opacity 3s ease;
}

.form7 {
    font-family: Dejavu Sans Mono;
  font-size: 19px;
  line-height: 23px;
    position: absolute;
    top: 24%;
    right: 21%;

    width: 302px;
    height: 500px;
    z-index: 2; /* Form zwischen Titel und Hintergrund */
    transition: opacity 3s ease;
}
.form8 {
    position: absolute;
    top: -20%;
    right: 98%;
    width: 29px;
    height: 500px;
    z-index: 2; /* Form zwischen Titel und Hintergrund */
    transition: opacity 3s ease;
   image-rendering: smooth;
  rotate: 22deg
}

.dot {
  height: 700;
  width: 700;
      position: absolute;
    top: -12%;
    right: 37%;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 3s ease;
  z-index: 1;
}

body.scrolling .background {  /* Farbwechsel-Effekt beim Scrollen auf background anwenden */
    background-color: #ff69b4; /* Pink Farbe */
    background-image: linear-gradient(to right, #ff69b4 0.5px, transparent 0.5px), 
      linear-gradient(to bottom, #ff69b4 0.5px, transparent 0.5px); /* Pink Raster */
}
body.scrolling .dot,
body.scrolling .form1,
body.scrolling .form2,
body.scrolling .form3,
body.scrolling .form4,
body.scrolling .form5,
body.scrolling .form6,
body.scrolling .form8 {
    opacity: 0; /* Fade out forms on scroll */
 }
/* ------- IMG Vorschau ------- */

.imgvorschau1 { width: 100%; 
  background-image: url("./ImageEffects/004Frame.png");
  background-repeat: repeat; 
  height: 50px; /* Adjust height as needed */ 
}
.imgvorschau2 { width: 100%; 
  background-image: url("./ImageEffects/005Frame.png");
  background-repeat: repeat; 
  height: 50px; /* Adjust height as needed */ }
.imgvorschau3 { width: 100%; 
  background-image: url("./ImageEffects/006Frame.png");
  background-repeat: repeat; 
  height: 50px; /* Adjust height as needed */ }
.imgvorschau4 { width: 100%; 
  background-image: url("./ImageEffects/007Frame.png");
  background-repeat: repeat; 
  height: 50px; /* Adjust height as needed */ }






/* ------- Header ------- */
a {
  text-decoration: none;
  color: #fffc00;
}
header {
height: 3%;
  background-color: #3F0097;
 
}

/*styling upper, Heidi usw */   
.upper-frame{
  position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
  z-index: 10
}

.upper{
display: flex;
  justify-content: space-between;
  background-color: #ff00a7;
      z-index: 2;
  }
 
.heidi{
  font-size: 65px;
  color: #fffc00;
  width: fit-content;
  z-index: 3;
}     
.heidi02{
  font-size: 29px;
  color: #fffc00;
  width: 500px;
  z-index: 3;
} 
.heidi03{
  font-size: 65px;
  color: #fffc00;
  width: fit-content;
  z-index: 3;
} 


nav { 
    background-color: #ff00a7;
  height: 100px;
    display: flex;
  justify-content: center;
  z-index: 3;
font-size: 65px;

}   

    
    

 

/* ------- Gallery Darstellung ------- */
#people{
  width: auto;
  margin: auto;
    flex: 1;
    display: flex;
    overflow: auto;
  align-items:baseline;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}


#people .p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;
  
  min-width: 350px; 
  min-height: auto;

  padding: auto;
  margin: 10px;
  text-overflow: ellipsis;
  z-index: 3;
  overflow: hidden; 
  
  
  /*----background-color: #e8ff66;
outline-color: #e8ff66;
  outline-style: dotted;
  outline-width: 6px;
  outline-offset: -4px; */
}

/* ------- Bilder in der Gallery Darstellung ------- */
.img {
  position: relative;
  margin-top: 87px;
    z-index: 0 ; /* Make sure it’s on top */
  padding-bottom: 8%;
}

.img img {

  width: 170px;
  height: 170px;
  object-fit: cover;

}

/* ------- Bilderrahmen ist dahinter Darstellung ------- */
.bilderrahmen {
  position:absolute;
  width: 200px;
  height: 200px;
  transform: translate(0, 68%);
   z-index: -2; /* Make sure it’s on top */
  /*--outline-style: solid;;
  outline-color: #ff00e7;--*/
  opacity: 80%;

}

.bilderrahmen02 {
  position:absolute;
  width: 300px;
  height: 300px;
  transform: translate(0, 30%);
   z-index: -3; /* Make sure it’s on top */
 
}

/* ------- Bilderrahmen VOR dem Bild Darstellung ------- */
.ImageEffectsContainter {
  position:absolute;
  width: 300px;
  height: 300px;
  transform: translate(0, 30%);
   z-index: 10; /* Make sure it’s on top */
}
.imgEffects {
  position: absolute;
 top: 50%; left: 50%; transform: translate(-50%, -50%);
  pointer-events: none;
  display: block; /* Ensure it displays as a block-level element */
  z-index:  -10; /* Make sure it’s on top */
  
  image-rendering: pixelated;
  
}






.name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 180px;
}

.kunstwerk-up {
    display: flex;
  justify-content: space-between;
  font-size: 10px;
  transform: translate(0, 117px);
  margin: 0 5px;
 
  width: 170px;
}

.kunstwerk-up .day, .kunstwerk-up .month, .kunstwerk-up .year {
  display: inline-block;
  width: 30px;
}

.kunstwerk-up .day {
  font-weight: bold;
}

.kunstwerk-up .month {
  text-align: center;
}

.kunstwerk-up .year {
  
  text-align: right;
}



.kunstwerk-left{  font-size: 10px;
  flex: 1;
  transform: translate(0, 300px);
  margin: 0 5px; /* Optional: fügt Abstand zwischen den Spalten hinzu */
  
  width: 170px;

}

.kunstwerk-right {
  font-size: 10px;
  flex: 1;
   transform: translate(0, 300px);
  margin: 0 5px; /* Optional: fügt Abstand zwischen den Spalten hinzu */
  
text-align: right;
  width: 170px;
}
 /*-- für das datum---*/



/* ------- Formular CSS ------- */

/* Editor Part*/
.inputerclass {
  display: flex;
  align-items: center;
  flex-direction: column; /* Elemente in einer Spalte anordnen */

  margin: 1em auto;
  width: 50vw; /* Setzt die Breite auf die Hälfte der Seitenbreite */
}


  
  form {
      display: flex;
      flex-direction: column; /* Elemente in einer Spalte anordnen */


}
.tabelle{

  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Beispiel für ein dreispaltiges Grid */ 
  overflow-wrap: break-word;
    padding: 4px; /* Adds space inside the input fields */
  width: 100%;
  /*grid-template-rows: 200px 200px 200px 200px 200px;
  grid-template-columns: 200px 200px 200px 200px 200px;
  
*/
}

#yourname{

  background-color: hotpink;
  outline: auto;
  outline-color: deeppink
  
}

#headername{
width:initial;
}

#yourimg{
width:initial;
}

#farbe{
width:initial;

}





